<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>

<meta charset="UTF-8">
<title>Edit-Students</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/style.css}" rel="stylesheet">
<style>
h3{
color:green;
text-decoration:underline;
text-align:Center;
}
</style>
</head>
<body>
<h1>Student Data</h1>
<div class="container" style="max-width:300px">
<h3>Edit Data</h3>
<form th:object="${up}" method="post" th:action="@{/update}">
<div>
<input type="hidden" th:field="*{id}">

</div>
		<div>
		<lable>Name</lable>
			<input type="text" th:field="*{name}" class="form-control">
			
		</div>
			<div>
			<lable>Dep</lable>
				<input type="text" th:field="*{dep}"class="form-control">
				
			</div>
				<div>
				<lable>Sec</lable>
					<input type="text"  th:field="*{sec}"class="form-control">
					
				</div>    
					<div>
					<lable>Cgpa</lable>
						<input type="number" step="any"  th:field="*{cgpa}"class="form-control">
						
					</div>
			<div>
<input type="submit" value="update"class= "btn btn-primary ">
		</div>
		<a th:href="@{/view}">Back</a>
</form>
</div>

</body>
</html>